body {
   background: rgb(31,137,213);
   background: radial-gradient(circle, rgba(31,137,213,1) 0%, rgba(14,78,139,1) 87%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

button{
    background-color: transparent;
    border: none;
}

button:focus{
    outline: none;
}


.main-center {
    display: flex;
    justify-content: center;
    justify-self: center;
    max-width: 900px;
}

.conteurlogonametitle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-name {
    display: flex;
    align-items: center;
}

#logonametitle {
    font-family: Helvetica;
    font-family: 'Baloo Bhaina 2';
}

#parentzonechat {
    height: 400px;
}

.centercontainer {
    display: flex;
    padding: 5px;
    background-color: #EEE;
    border-radius: 5px;
}


.chatpart {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
}

.chat {
    /*max-width: 350px;*/
    flex: 1 1 auto;
    width: 100%;
    background-color: #EEE;
    min-width: 170px;
}

#zone_chat {
    scrollbar-color: #AAA #BBB;
    scrollbar-width: thin;
}

/* Let's get this party started */
#zone_chat::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #BBB;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #AAA;
}


.classContener {
    background-color: #CCC;
    border-radius: 3px;
}

.separationbarreV {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 2px;
    background-color: #888;
}

.separationbarreO {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #888;
    height: 2px;
}

.fontMessage {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font: 16px 'Roboto', Arial;
    font-size: 14px;
}


.senderMess {
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-bottom: 3px;
    border-width: 0px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: #CCC;
    padding-left: 2px;
    background-color: #EEE;
    outline: none;
    flex: 1 1 auto;
    width: 100%;
}

.senderMess:focus {
    border-color: #59E;
    outline: 0;
}

#zone_chat {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
    max-width: 400px;
    margin-left: 10px;
    margin-left: 10px;
}

.messChat {
    margin-top: 5px;
    margin-bottom: 5px;
}


strong.black {
    color: black;
}

strong.pink {
    color: rgb(255, 98, 195);
}

strong.brown {
    color: brown;
}

strong.red {
    color: red;
}

strong.green {
    color: green;
}

strong.blue {
    color: blue;
}

strong.purple {
    color: purple;
}

strong.cyan {
    color: cyan;
}

strong.orange {
    color: rgb(255, 136, 0);
}


@media only screen and (max-width: 500px) {
    .centercontainer {
        flex-direction: column-reverse;
        margin: 0 10px;
    }
    /*.separationbarreV {
        height: 2px;
        width: auto !important;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }*/

    #parentzonechat {
        height: 300px !important;
    }
    #zone_chat{
       height: 300px;
    }

    #logonametitle{
       margin: 0 !important;
    }
    #logonametitle{
        font-size: 1.5em;
    }
    .conteurlogonametitle{
        margin: 5px 0;
    }
}