

.loginpart{
   margin-top: 10px;
   max-width: 400px;
}

.divname{
   display: flex;
   flex: 1 1 auto;
   width: 100%;
}

#formulaire_name{
   flex: 1 1 auto;
   width: 100%;
   margin-bottom: 0px;
}

#inputpseudo{
   flex: 1 1 auto;
   width: 100%;
   min-width: 50px;
   border-style: none;
   height: 30px;
   border-width: 0px;
   border-top-width: 2px;
   border-bottom-width: 2px;
   border-style: solid;
   border-color: #CCC;
   background-color: #EEE;
   padding-left: 10px;
}
#inputpseudo:hover{
   border-color: #AAA;
   outline: 0;
}
#inputpseudo:focus{
   border-color: #59E;
   outline: 0;
}

#loginLanguage {
   flex: 1 1 auto;
   max-width: 100px;
   height: 30px;
   border-width: 0px;
   border-top-width: 2px;
   border-bottom-width: 2px;
   border-style: solid;
   border-color: #CCC;
   background-color: #EEE;
   padding-left: 10px;
}
#loginLanguage:hover{
   border-color: #AAA;
   outline: 0;
}
#loginLanguage:focus{
   border-color: #59E;
   outline: 0;
}

#divcolormain {
   display: flex;
   flex: 1 1 auto;
   max-width: 100px;
   height: 17px;
   width: 17px;
   padding-right: 10px;
   padding-top: 4px;
   padding-bottom: 5px;
   border-width: 0px;
   border-top-width: 2px;
   border-bottom-width: 2px;
   border-style: solid;
   border-color: #CCC;
   background-color: #EEE;
   padding-left: 10px;
   justify-content: center;

}
#divcolormain:hover{
   border-color: #59E;
   outline: 0;
}

.colorrect{
   width: 17px; 
   height: 17px; 
   background-color: black;
   border-radius: 2px;
}

.propcolor{
   height: 60px;
   width: 60px;
   margin-top: 20px;
   background-color: #BBB;
   display: none;
   position: absolute;
   z-index: 10px;
   padding: 10px;
   border-radius: 5px;
}

#divcolormain:hover .propcolor{
   display: inline-block;
}

.propcolor .color{
   padding: 0px;
   border: 3px;
   width: 17px;
   height: 17px;
   border-radius: 2px;
}
 





.btnPLAY{
   width: 100%;
   color: #fff;
   border-style: solid;
   border-radius: 5px;
   padding: 10px 16px;
   font-size: 18px;
   margin-top: 10px;
}
.btnPLAY:focus{
   outline: 0;
}

#btnnormrules{
   background-color: #5cb85c;
   border-color: #4cae4c;

}

#btnspecrules{
   background-color: #ee8631;
   border-color: #db741f;

}

#btncreatroom{
   background-color: #5bc0de;
   border-color: #46b8da;
}

#btncreatroom:hover{
   background-color: #30a5c9;
}

.divjoinroom{
   color: #fff;
   border-style: solid;
   border-radius: 5px;
   padding: 10px 16px;
   font-size: 18px;
   margin-top: 10px;
   background-color: #5bc0de;
   border-color: #46b8da;
   font-family: roboto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.divjoinroom:hover #inproompass{
   background-color: #2b8fbd;
}

#inproompass{
   background-color: #3ba5d6;
   color: #ddd;
   border-style: none;
   border-radius: 2px;
   padding-left: 5px;
   padding-top: 2px;
   padding-bottom: 2px;
}

#inproompass::placeholder{
   color: #ddd;
}

#inproompass:focus{
   outline: 0;
}