h2{
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    line-height: 20px;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'Baloo Bhaina 2', cursive;
}

h4{
    margin: 0px;
    margin-top: 10px;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.playername.black{
    color: black;
 }
 .playername.pink{
    color: rgb(255, 98, 195);
 }
 .playername.brown{
    color: brown;
 }
 .playername.red{
    color: red;
 }
 .playername.green{
    color: green;
 }
 .playername.blue{
    color: blue;
 }
 .playername.purple{
    color: purple;
 }
 .playername.cyan{
    color: cyan;
 }
 .playername.orange{
    color: rgb(255, 136, 0);
 }

 .roomID{
    margin: 10px;
 }
 
 #startgamebt{
   width: 100%;
   color: #fff;
   border-style: solid;
   border-radius: 5px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 18px;
   background-color: #5cb85c;
   border-color: #4cae4c;
 }