<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache" /> <!-- to keep alway page update -->
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />  <!-- to keep alway page update -->
    <meta http-equiv="Expires" content="0" /><!-- to keep alway page update -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"> <!-- to suport properly all mobil-->
    <title>UNO</title>
    <link rel="stylesheet" href="cssfiles/index.css">
    <link rel="stylesheet" href="cssfiles/mainpage.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700,900" rel="stylesheet" type="text/css">
</head>
<body style="margin: 0px;">

    <div id="loadressources" style="width: 100%; height: 100%; position: fixed; display: flex; display: none; justify-content: center; align-items: center;">
        <div style="display: block; justify-content: center;">
            <h1 style="font-family: Arial;">loading resources,</h1>
            <h1 id="pleaseWait" style="font-family: Arial;">please wait .</h1>
        </div>
        <script>
            var wait = document.getElementById("pleaseWait");
            var nbpoints = ".";
            var chargement = setInterval(function(){
                wait.textContent = "please wait " + nbpoints;
                nbpoints = nbpoints + ".";
                if(nbpoints == "...."){nbpoints = ""}
            }, 300);
            function loadingend(){
                clearInterval(chargement);
                document.getElementById("loadressources").style.display = "none";
            }
        </script>
        <script src="jsfiles/loadressources.js"></script>
    </div>

    <div class="main-center">
        <div style="max-width: 1400px;">
            <div class="logo-name">
                <h1 id="logonametitle">
                    <span>U</span><span>N</span><span>O</span><span> </span><span>O</span><span>N</span><span>L</span><span>I</span><span>N</span><span>E</span>
                </h1>
            </div>
            <div class="centercontainer">
                <div class="chatpart" style="height: 465;">
                    <div class="chat">
                        <div class="classContener">
                            <p style="margin: 0px; padding-top: 5px; display: flex; justify-content: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">PUBLIC CHAT !</p>
                            <div class="separationbarreO"></div>
                            <section id="zone_chat">
                            </section>
                        </div>
                        <form action="/" method="post" id="formulaire_chat">
                            <input type="text" class="senderMess" name="message" id="message" placeholder="your message..." size="50" autocomplete="off" style="margin-left: 0px;"/>
                        </form>
                    </div>
                    
                    
                </div>

                <div class="separationbarreV"></div>

                <div class="loginpart">
                    <div style="width: 400px; flex: 1 1 auto; width: 100%;">
                        <div class="divname">
                            <form action="/" method="post" id="formulaire_name">
                                <input type="text" id="inputpseudo" placeholder="Enter your pseudo" size="20" autocomplete="off" maxlength="25" style="margin-left: 0px;"/>
                            </form>
                            <div id="divcolormain">
                                <div class="colorrect"></div>
                                <div class="propcolor">
                                    <button class="color white" style="background-color: white;"></button>
                                    <button class="color pink" style="background-color: rgb(255, 98, 195);"></button>
                                    <button class="color yellow" style="background-color: yellow;"></button>
                                    <button class="color red" style="background-color: red;"></button>
                                    <button class="color green" style="background-color: green;"></button>
                                    <button class="color blue" style="background-color: blue;"></button>
                                    <button class="color purple" style="background-color: purple;"></button>
                                    <button class="color cyan" style="background-color: cyan;"></button>
                                    <button class="color orange" style="background-color: orange;"></button>
                                </div>
                            </div>
                            <select id="loginLanguage"><option class="langueoption">French</option><option class="langueoption">English</option></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        //script qui récupère tout les éléments de ejs du serveur
        var url = "<%= url %>";
        var name = "<%= name %>";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jsfiles/chat.js"></script>
    <script>
        $('#formulaire_name').submit(function () {
            //pseudo = $('#inputpseudo').val();
            //$('#inputpseudo').attr('placeholder', pseudo);
            $('#inputpseudo').blur();
            return false;
        });
        $('#formulaire_name').focusout(function () {
            if($('#inputpseudo').val().replace(/\s/g, '') == ''){//chek if inpute contain nothing or juste space
                $('#inputpseudo').val('');
            }else{
                pseudo = $('#inputpseudo').val();
                $('#inputpseudo').attr('placeholder', pseudo);
                //$('#inputpseudo').val('');
                //$('#inputpseudo').blur();
                return false;
            }
        });
    </script>
</body>
</html>