<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache" /> <!-- to keep alway page update -->
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />  <!-- to keep alway page update -->
    <meta http-equiv="Expires" content="0" /><!-- to keep alway page update -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"> <!-- to suport properly all mobil-->
    <title>UNO</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Wellcome to online UNO</h1>
    <p>Server is </p>
    <div class="infomenu">
        <button class="infobtn">i</button>
        <div class="dropdown-content-menu">
            <a href="#">contacte me</a>
            <a href="#">my page web</a>
        </div>
    </div>
</body>
</html>