<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache" /> <!-- to keep alway page update -->
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />  <!-- to keep alway page update -->
    <meta http-equiv="Expires" content="0" /><!-- to keep alway page update -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"> <!-- to suport properly all mobil-->
    <title>Board Game Online</title>
    <link rel="stylesheet" href="cssfiles/index.css">
    <link rel="stylesheet" href="cssfiles/mainpage.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body style="margin: 0px;">

    <div id="loadressources" style="width: 100%; height: 100%; position: fixed; display: flex; display: none; justify-content: center; align-items: center;">
        <div style="display: block; justify-content: center;">
            <h1 style="font-family: Arial;">loading resources,</h1>
            <h1 id="pleaseWait" style="font-family: Arial;">please wait .</h1>
        </div>
        <script>
            var wait = document.getElementById("pleaseWait");
            var nbpoints = ".";
            var chargement = setInterval(function(){
                wait.textContent = "please wait " + nbpoints;
                nbpoints = nbpoints + ".";
                if(nbpoints == "...."){nbpoints = ""}
            }, 300);
            function loadingend(){
                clearInterval(chargement);
                document.getElementById("loadressources").style.display = "none";
            }
        </script>
        <script src="jsfiles/loadressources.js"></script>
    </div>

    <div class="main-center">
        <div style="max-width: 1400px;">
            <div class="logo-name">
                <h1 id="logonametitle">
                    Board Game Online
                </h1>
            </div>
            <div class="centercontainer">
                <div class="chatpart" style="height: 465;">
                    <div class="chat">
                        <div class="classContener">
                            <p style="margin: 0px; padding-top: 5px; display: flex; justify-content: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">PUBLIC CHAT !</p>
                            <div class="separationbarreO"></div>
                            <div id="parentzonechat" style="height: 400px;">
                                <section id="zone_chat">
                                </section>
                            </div>
                        </div>
                        <form action="/" method="post" id="formulaire_chat">
                            <input type="text" class="senderMess" name="message" id="message" placeholder="your message..." size="50" maxlength="400" autocomplete="off" style="margin-left: 0px;"/>
                        </form>
                    </div>
                    
                    
                </div>

                <div class="separationbarreV"></div>

                <div class="loginpart">
                    <div style="width: 400px; flex: 1 1 auto; width: 100%;">
                        <div class="divname">
                            <form action="/" method="post" id="formulaire_name">
                                <input type="text" id="inputpseudo" placeholder="Enter your pseudo" size="20" autocomplete="off" maxlength="20" style="margin-left: 0px;"/>
                            </form>
                            <div id="divcolormain">
                                <div class="colorrect"></div>
                                <div class="propcolor">
                                    <button class="color black" style="background-color: black;" onclick="changeColorPseudo(1)"></button>
                                    <button class="color pink" style="background-color: rgb(255, 98, 195);"onclick="changeColorPseudo(2)"></button>
                                    <button class="color brown" style="background-color: brown;"onclick="changeColorPseudo(3)"></button>
                                    <button class="color red" style="background-color: red;" onclick="changeColorPseudo(4)"></button>
                                    <button class="color green" style="background-color: green;" onclick="changeColorPseudo(5)"></button>
                                    <button class="color blue" style="background-color: blue;" onclick="changeColorPseudo(6)"></button>
                                    <button class="color purple" style="background-color: purple;" onclick="changeColorPseudo(7)"></button>
                                    <button class="color cyan" style="background-color: cyan;" onclick="changeColorPseudo(8)"></button>
                                    <button class="color orange" style="background-color: rgb(255, 136, 0);" onclick="changeColorPseudo(9)"></button>
                                </div>
                            </div>
                            <select id="loginLanguage"><option class="langueoption">Français</option><option class="langueoption">English</option></select>
                        </div>
                    </div>
                    <div class="mainplaybutton">
                        <button class="btnPLAY" id="btnnormrules">
                            <div>
                                PLAY (normal game) <br>
                                <div>x player</div>
                            </div>
                        </button>
                        <button class="btnPLAY" id="btnspecrules">
                            <div>
                                PLAY (special rules) <br>
                                <div>x player</div>
                            </div>
                        </button>
                        <div style="margin-top: 10px;">
                            <button class="btnPLAY" id="btncreatroom">
                                <div>
                                    CREATE PRIVATE ROOM
                                </div>
                            </button>
                            <div class="divjoinroom">
                                <div style="padding-left: 10px; padding-right: 10px; text-align: center">JOIN PRIVATE ROOM</div>
                                <div style="display: inline-block;">
                                    <form style="margin: 0px;" action="/" id="joinprform">
                                        <input id="inproompass" name="r" type="text" placeholder="room" size="8" autocomplete="off" maxlength="6" style="margin-left: 0px;"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        //script qui récupère tout les éléments ejs du serveur
        var url = "<%= url %>";
        var name = "<%= name %>";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jsfiles/chat.js"></script>
    <script>
        $('#formulaire_name').submit(function () { //valide l'entrer du nom
            //pseudo = $('#inputpseudo').val();
            //$('#inputpseudo').attr('placeholder', pseudo);
            $('#inputpseudo').blur();
            return false;
        });
        $('#formulaire_name').focusout(function () { //valide l'entrer du nom quand on perd le focus
            if($('#inputpseudo').val().replace(/\s/g, '') == ''){//chek if inpute contain nothing or juste space
            }else{
                pseudo = $('#inputpseudo').val();
                $('#inputpseudo').attr('placeholder', pseudo);
                //$('#inputpseudo').val('');
                //$('#inputpseudo').blur();
                return false;
            }
        });
        function changeColorPseudo(color){ //colorpseudo présent dans chat.js
            var colorrectcolor;
            switch(color){
                case 1 :
                    colorrectcolor = "black";
                    colorpseudo = "black"
                    break;
                case 2 :
                    colorrectcolor = "rgb(255, 98, 195)";
                    colorpseudo = "pink"
                    break;
                case 3 :
                    colorrectcolor = "brown";
                    colorpseudo = "brown"
                    break;
                case 4 :
                    colorrectcolor = "red";
                    colorpseudo = "red"
                    break;
                case 5 :
                    colorrectcolor = "green";
                    colorpseudo = "green"
                    break;
                case 6 :
                    colorrectcolor = "blue";
                    colorpseudo = "blue"
                    break;
                case 7 :
                    colorrectcolor = "purple";
                    colorpseudo = "purple"
                    break;
                case 8 :
                    colorrectcolor = "cyan";
                    colorpseudo = "cyan"
                    break;
                case 9 :
                    colorrectcolor = "rgb(255, 136, 0)";
                    colorpseudo = "orange"
                    break;
            }
            $('.colorrect').css("background-color", colorrectcolor);
        }

        $('#joinprform').submit(function () { //pour rejoindre une room
            var room =  $('#inproompass').val();
            if(room.length > 5){
            document.location.href = "/pr" + "?" + "room=" + room + "&" + "ps=" + pseudo + "&" + "co=" + colorpseudo;
            }
            return false;
        });

        $('#btncreatroom').click(function() {
            document.location.href = "/pr" + "?" + "ps=" + pseudo + "&" + "co=" + colorpseudo;
        });
    </script>
</body>
</html>