<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache" /> <!-- to keep alway page update -->
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />  <!-- to keep alway page update -->
    <meta http-equiv="Expires" content="0" /><!-- to keep alway page update -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"> <!-- to suport properly all mobil-->
    <title>UNO</title>
    <link rel="stylesheet" href="cssfiles/index.css">
    <link rel="stylesheet" href="cssfiles/mainpage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body style="margin: 0px;">

    <div id="loadressources" style="width: 100%; height: 100%; position: fixed; display: flex; display: none; justify-content: center; align-items: center;">
        <div style="display: block; justify-content: center;">
            <h1 style="font-family: Arial;">loading resources,</h1>
            <h1 id="pleaseWait" style="font-family: Arial;">please wait .</h1>
        </div>
        <script>
            var wait = document.getElementById("pleaseWait");
            var nbpoints = ".";
            var chargement = setInterval(function(){
                wait.textContent = "please wait " + nbpoints;
                nbpoints = nbpoints + ".";
                if(nbpoints == "...."){nbpoints = ""}
            }, 300);
            function loadingend(){
                clearInterval(chargement);
                document.getElementById("loadressources").style.display = "none";
            }
        </script>
        <script src="jsfiles/loadressources.js"></script>
    </div>

    <div class="main-center">
        <div style="max-width: 1400px;">
            <div class="logo-name">
                <h1 id="logonametitle">
                    <span>U</span><span>N</span><span>O</span><span> </span><span>O</span><span>N</span><span>L</span><span>I</span><span>N</span><span>E</span>
                </h1>
            </div>
            <div class="centercontainer">
                <div class="chatpart">
                    <div class="chat">
                        <div class="classContener">
                            <section id="zone_chat">
                            </section>
                        </div>
                        <form action="/" method="post" id="formulaire_chat">
                            <input type="text" class="senderMess" name="message" id="message" placeholder="your message..." size="50" autocomplete="off" style="margin-left: 0px;" autofocus />
                        </form>
                        
                        <style>
                            .chat{
                                background-color: #EEE;
                                width: 350px;
                            }

                            .senderMess{
                                margin-left: 8px;
                                margin-top: 5px;
                                margin-bottom: 2px;
                                padding-bottom: 3px;
                                border-width: 0px;
                                border-top-width: 2px;
                                border-bottom-width: 2px;
                                border-style: solid;
                                border-color: #CCC;
                                padding-left: 2px;
                                background-color: #EEE;
                                width: 350px;
                                outline:none;
                            }
                            
                            #zone_chat{
                                overflow-y: auto;
                                height: 400px;
                                margin-left: 10px;
                                margin-left: 10px;
                            }
                            .messChat{
                                margin-top: 5px;
                                margin-bottom: 5px;
                            }
                        </style>
                    </div>
                    <script src="/socket.io/socket.io.js"></script>
                    <script>
                        var chatSocket = io.connect("https://<%= url %>"); 
                        var pseudo;
                        var servEtatPing = 0;

                        if("<%= name %>" == "undefined"){ //si le pseudo ne se trouve pas dans l'url
                            pseudo = prompt('Quel est votre pseudo ?');
                            if(pseudo == null){
                                pseudo = "anonymous";
                            }
                            chatSocket.emit('nouveauPseudo', pseudo);
                        }else{
                            pseudo = "<%= name %>";
                            chatSocket.emit('nouveauPseudo', pseudo);
                        }

                        chatSocket.on('PseudoUnvalide', function(Npseudo) { //le serveur renvoie le nouveaux pseudo, à changer
                            pseudo = Npseudo;
                            chatSocket.emit('nouveauPseudo', pseudo);
                        })

                        // Quand on reçoit un message, on l'insère dans la page
                        chatSocket.on('message', function(data) {
                            insereMessage(data.pseudo, data.message);
                            servEtatPing = 2;
                        })

                        // Quand un nouveau client se connecte, on affiche l'information
                        chatSocket.on('nouveau_client', function(pseudo) {
                            $('#zone_tchat').append('<p class="tchatmessNewClient messtChat"><em>' + pseudo + ' a rejoint le tchat !</em></p>');
                            element = document.getElementById('zone_tchat');
                            element.scrollTop = element.scrollHeight;
                        })

                        chatSocket.on('client_left', function(pseudo) {
                            $('#zone_tchat').append('<p class="tchatmessNewClient messtChat"><em>' + pseudo + ' a quitté le tchat !</em></p>');
                            element = document.getElementById('zone_tchat');
                            element.scrollTop = element.scrollHeight;
                        })

                        // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
                        $('#formulaire_tchat').submit(function () {
                            var message = $('#message').val();
                            chatSocket.emit('message', {pseudo: pseudo, message: message}); // Transmet le message aux autres
                            insereMessage(pseudo, message); // Affiche le message aussi sur notre page
                            $('#message').val('').focus(); // Vide la zone de tChat et remet le focus dessus
                            return false; // Permet de bloquer l'envoi "classique" du formulaire
                        });

                        function insereMessage(pseudo, message) {
                            $('#zone_tchat').append('<p class="messtChat"><strong>' + pseudo + " :" + '</strong> ' + message + '</p>');
                            element = document.getElementById('zone_tchat');
                            element.scrollTop = element.scrollHeight;
                        }

                        setInterval(() => { //function qui détecte la perte de connection et averti l'utilisateur.
                            servEtatPing --
                            chatSocket.emit("CientPing");
                            if(servEtatPing < 0){
                                console.log("problème de connection au serveur, vérifier votre connection a internet.")
                                $("#message").css("background-color", "#FCC")
                            }else{
                                $("#message").css("background-color", "#FFF")
                            }
                        }, 5000);

                        chatSocket.on("serveurPing", function(NBusers){
                            servEtatPing = 2;
                            $("#message").attr("placeholder", NBusers + " users are connected")
                        });
                    </script>
                </div>
                <div class="separationbarre"></div>
                <div class="loginpart">
                    <div style="width: 400px;">juste a simple text for the moment</div>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>