<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache" /> <!-- to keep alway page update -->
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />  <!-- to keep alway page update -->
    <meta http-equiv="Expires" content="0" /><!-- to keep alway page update -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"> <!-- to suport properly all mobil-->
    <title>Board Game Online</title>
    <link rel="stylesheet" href="cssfiles/index.css">
    <link rel="stylesheet" href="cssfiles/mainpage.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body style="margin: 0px;">

    <div class="main-center">
        <div style="max-width: 1400px;">
            <div class="logo-name">
                <h1 id="logonametitle">
                    Board Game Online
                </h1>
            </div>
            <div class="centercontainer">

                <div class="loginpart">
                    <div style="width: 400px; flex: 1 1 auto; width: 100%;">
                        <div class="divname">
                            <form action="/" method="post" id="formulaire_name">
                                <input type="text" id="inputpseudo" placeholder="Enter your pseudo" size="20" autocomplete="off" maxlength="20" style="margin-left: 0px;"/>
                            </form>
                            <div id="divcolormain">
                                <div class="colorrect"></div>
                                <div class="propcolor">
                                    <button class="color black" style="background-color: black;" onclick="changeColorPseudo(1)"></button>
                                    <button class="color pink" style="background-color: rgb(255, 98, 195);"onclick="changeColorPseudo(2)"></button>
                                    <button class="color brown" style="background-color: brown;"onclick="changeColorPseudo(3)"></button>
                                    <button class="color red" style="background-color: red;" onclick="changeColorPseudo(4)"></button>
                                    <button class="color green" style="background-color: green;" onclick="changeColorPseudo(5)"></button>
                                    <button class="color blue" style="background-color: blue;" onclick="changeColorPseudo(6)"></button>
                                    <button class="color purple" style="background-color: purple;" onclick="changeColorPseudo(7)"></button>
                                    <button class="color cyan" style="background-color: cyan;" onclick="changeColorPseudo(8)"></button>
                                    <button class="color orange" style="background-color: rgb(255, 136, 0);" onclick="changeColorPseudo(9)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mainplaybutton">
                        <div style="margin-top: 10px;">
                            <button id="btnjoinroom" style="padding: 0px; border-style: none;">
                                <div class="divjoinroom" style="margin-top: 0px;">
                                    <div style="padding-left: 10px; padding-right: 10px; text-align: center">JOIN PRIVATE ROOM</div>
                                    <div style="display: inline-block;">
                                        <form style="margin: 0px;" action="/" id="joinprform">
                                            <input id="inproompass" name="r" type="text" placeholder="room" size="8" autocomplete="off" maxlength="6" style="margin-left: 0px;"/>
                                        </form>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        //script qui récupère tout les éléments ejs du serveur
        var url = "<%= url %>";
        var roomcode = "<%= roomcode %>";
        var pseudo = "<%= pseudo %>";
        var colorpseudo = "black"
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
        if(roomcode != "false"){
            $('#inproompass').val(roomcode);
        }

        if(true){//remplacer true par une condition de pseudo stokée dans les cookies
            $('#inputpseudo').val(pseudo);
        }


        $('#formulaire_name').submit(function () { //valide l'entrer du nom
            //pseudo = $('#inputpseudo').val();
            //$('#inputpseudo').attr('placeholder', pseudo);
            $('#inputpseudo').blur();
            return false;
        });
        $('#formulaire_name').focusout(function () { //valide l'entrer du nom quand on perd le focus
            if($('#inputpseudo').val().replace(/\s/g, '') == ''){//chek if inpute contain nothing or juste space
            }else{
                pseudo = $('#inputpseudo').val();
                $('#inputpseudo').attr('placeholder', pseudo);
                //$('#inputpseudo').val('');
                //$('#inputpseudo').blur();
                return false;
            }
        });
        function changeColorPseudo(color){ //colorpseudo présent dans chat.js
            var colorrectcolor;
            switch(color){
                case 1 :
                    colorrectcolor = "black";
                    colorpseudo = "black"
                    break;
                case 2 :
                    colorrectcolor = "rgb(255, 98, 195)";
                    colorpseudo = "pink"
                    break;
                case 3 :
                    colorrectcolor = "brown";
                    colorpseudo = "brown"
                    break;
                case 4 :
                    colorrectcolor = "red";
                    colorpseudo = "red"
                    break;
                case 5 :
                    colorrectcolor = "green";
                    colorpseudo = "green"
                    break;
                case 6 :
                    colorrectcolor = "blue";
                    colorpseudo = "blue"
                    break;
                case 7 :
                    colorrectcolor = "purple";
                    colorpseudo = "purple"
                    break;
                case 8 :
                    colorrectcolor = "cyan";
                    colorpseudo = "cyan"
                    break;
                case 9 :
                    colorrectcolor = "rgb(255, 136, 0)";
                    colorpseudo = "orange"
                    break;
            }
            $('.colorrect').css("background-color", colorrectcolor);
        }

        $('#joinprform').submit(function () { //pour rejoindre une room
            var room =  $('#inproompass').val();
            if(room.length > 5){
            document.location.href = "/pr" + "?" + "room=" + room + "&" + "ps=" + pseudo + "&" + "co=" + colorpseudo;
            }
            return false;
        });

        $('#btnjoinroom').click(function() {
            var room =  $('#inproompass').val();
            if(room.length > 5){
                document.location.href = "/pr" + "?" + "room=" + room + "&" + "ps=" + pseudo + "&" + "co=" + colorpseudo;
            }
        });

        $("#inputpseudo").focus(
            function(){
                $("#inputpseudo").select();
            }
        )
    </script>
</body>
</html>