<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache" /> <!-- to keep alway page update -->
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />  <!-- to keep alway page update -->
    <meta http-equiv="Expires" content="0" /><!-- to keep alway page update -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"> <!-- to suport properly all mobil-->
    <title>UNO</title>
    <link rel="stylesheet" href="cssfiles/index.css">
    <link rel="stylesheet" href="cssfiles/mainpage.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700,900" rel="stylesheet" type="text/css">
</head>
<body style="margin: 0px;">

    <div id="loadressources" style="width: 100%; height: 100%; position: fixed; display: flex; display: none; justify-content: center; align-items: center;">
        <div style="display: block; justify-content: center;">
            <h1 style="font-family: Arial;">loading resources,</h1>
            <h1 id="pleaseWait" style="font-family: Arial;">please wait .</h1>
        </div>
        <script>
            var wait = document.getElementById("pleaseWait");
            var nbpoints = ".";
            var chargement = setInterval(function(){
                wait.textContent = "please wait " + nbpoints;
                nbpoints = nbpoints + ".";
                if(nbpoints == "...."){nbpoints = ""}
            }, 300);
            function loadingend(){
                clearInterval(chargement);
                document.getElementById("loadressources").style.display = "none";
            }
        </script>
        <script src="jsfiles/loadressources.js"></script>
    </div>

    <div class="main-center">
        <div style="max-width: 1400px;">
            <div class="logo-name">
                <h1 id="logonametitle">
                    <span>U</span><span>N</span><span>O</span><span> </span><span>O</span><span>N</span><span>L</span><span>I</span><span>N</span><span>E</span>
                </h1>
            </div>
            <div class="centercontainer">
                <div class="chatpart" style="height: 465;">
                    <div class="chat">
                        <div class="classContener">
                            <p style="margin: 0px; padding-top: 5px; display: flex; justify-content: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">ROOM CHAT !</p>
                            <div class="separationbarreO"></div>
                            <div id="parentzonechat" style="height: 400px;">
                                <section id="zone_chat">
                                </section>
                            </div>
                        </div>
                        <form action="/" method="post" id="formulaire_chat">
                            <input type="text" class="senderMess" name="message" id="message" placeholder="your message..." size="50" maxlength="400" autocomplete="off" style="margin-left: 0px;"/>
                        </form>
                    </div>
                    
                    
                </div>

                <div class="separationbarreV"></div>

                <div class="loginpart">
                   
                </div>
            </div>
        </div>
    </div>
    
    <script>
        //script qui récupère tout les éléments de ejs du serveur
        var url = "<%= url %>";
        var name = "<%= name %>";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jsfiles/chat.js"></script>
    <script>
       
    </script>
</body>
</html>