<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Socket.io</title>
        <meta http-equiv="Pragma" content="no-cache" /> <!-- to keep alway page update -->
        <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />  <!-- to keep alway page update -->
        <meta http-equiv="Expires" content="0" /><!-- to keep alway page update -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"> <!-- to suport properly all mobil-->
    </head>
 
    <body>
        <div class="tchat">
            <div class="classContener">
                <section id="zone_tchat">
                </section>
            </div>
            <form action="/" method="post" id="formulaire_tchat">
                <input type="text" class="senderMess" name="message" id="message" placeholder="your message..." size="50" autocomplete="off" autofocus />
            </form>
            
            <style>
                .tchat{
                    background-color: #EEE;
                    border-style: solid;
                    border-radius: 5px;
                    border-color: #CCC;
                    width: 400px;
                }
                .senderMess{
                    margin-left: 8px;
                    margin-top: 5px;
                    margin-bottom:2px;
                    border-style: solid;
                    border-radius: 3px;
                    border-color: #CCC;
                    padding-left: 2px;
                    width: 380px;
                }
                #zone_tchat{
                    overflow-y: auto;
                    height: 400px;
                    margin-left: 10px;
                    margin-left: 10px;
                }
                .messtChat{
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            </style>
        </div>

        <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var chatSocket = io.connect("https://<%= url %>"); 
            var pseudo;
            var servEtatPing = 0;

            if("<%= name %>" == "undefined"){ //si le pseudo ne se trouve pas dans l'url
                pseudo = prompt('Quel est votre pseudo ?');
                if(pseudo == null){
                    pseudo = "anonymous";
                }
                chatSocket.emit('nouveauPseudo', pseudo);
            }else{
                pseudo = "<%= name %>";
                chatSocket.emit('nouveauPseudo', pseudo);
            }

            chatSocket.on('PseudoUnvalide', function(Npseudo) { //le serveur renvoie le nouveaux pseudo, à changer
                pseudo = Npseudo;
                chatSocket.emit('nouveauPseudo', pseudo);
            })

            // Quand on reçoit un message, on l'insère dans la page
            chatSocket.on('message', function(data) {
                insereMessage(data.pseudo, data.message);
                servEtatPing = 2;
            })

            // Quand un nouveau client se connecte, on affiche l'information
            chatSocket.on('nouveau_client', function(pseudo) {
                $('#zone_tchat').append('<p class="tchatmessNewClient messtChat"><em>' + pseudo + ' a rejoint le tchat !</em></p>');
                element = document.getElementById('zone_tchat');
                element.scrollTop = element.scrollHeight;
            })

            chatSocket.on('client_left', function(pseudo) {
                $('#zone_tchat').append('<p class="tchatmessNewClient messtChat"><em>' + pseudo + ' a quitté le tchat !</em></p>');
                element = document.getElementById('zone_tchat');
                element.scrollTop = element.scrollHeight;
            })

            // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
            $('#formulaire_tchat').submit(function () {
                var message = $('#message').val();
                chatSocket.emit('message', {pseudo: pseudo, message: message}); // Transmet le message aux autres
                insereMessage(pseudo, message); // Affiche le message aussi sur notre page
                $('#message').val('').focus(); // Vide la zone de tChat et remet le focus dessus
                return false; // Permet de bloquer l'envoi "classique" du formulaire
            });

            function insereMessage(pseudo, message) {
                $('#zone_tchat').append('<p class="messtChat"><strong>' + pseudo + " :" + '</strong> ' + message + '</p>');
                element = document.getElementById('zone_tchat');
                element.scrollTop = element.scrollHeight;
            }

            setInterval(() => { //function qui détecte la perte de connection et averti l'utilisateur.
                servEtatPing --
                chatSocket.emit("CientPing");
                if(servEtatPing < 0){
                    console.log("problème de connection au serveur, vérifier votre connection a internet.")
                    $("#message").css("background-color", "#FCC")
                }else{
                    $("#message").css("background-color", "#FFF")
                }
            }, 5000);

            chatSocket.on("serveurPing", function(NBusers){
                servEtatPing = 2;
                $("#message").attr("placeholder", NBusers + " users are connected")
            });

        </script>
    </body>
</html>